
@{
    Layout = null;
}
<!DOCTYPE html>
@model QLThucTapSinh.Common.RestartPassword
@using (Html.BeginForm("PasswordRetrieval", "Home", FormMethod.Post))
{
 <html>
    <head>
        <meta charset="utf-8">
        <title>Quên Mật Khẩu</title>
        <link href="~/Content/Home/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="box">
            <h2>Quên Mật Khẩu</h2>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <form>
                <div class="inputBox">
                    <input type="text" name="UserName" required="">
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="text" name="Email" required="">
                    <label>Gmail</label>
                </div>
                <input type="submit" name="" value="Submit">
            </form>
        </div>
    </body>
</html>
}

