<form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'"
              class="close"
              title="Close Modal">&times;</span>
        <img class="circle1" src="~/img/hinhavatar.jpg" alt="" />
    </div>
    <div class="container">
        <label for="uname"><b>Họ</b></label>
        <br />
        <input type="text"
               placeholder="Nhập họ và tên lót"
               name="LastName"
               required />
        <br />
        <label for="uname"><b>Tên</b></label>
        <br />
        <input type="text"
               placeholder="Nhập tên"
               name="FirstName"
               required />
        <br />
        <label for="uname"><b>Giới tính</b></label>
        <br />
        <input type="text"
               placeholder="Enter Username"
               name="Gender"
               required />
        <br />
        <label for="uname"><b>Ngày sinh</b></label>
        <br />
        <input type="text"
               placeholder="Chọn ngày sinh"
               name="Birthday"
               class="datepicker"
               required />
        <br />
        <label for="uname"><b>Địa chỉ</b></label>
        <br />
        <input type="text"
               placeholder="Nhập địa chỉ"
               name="Address"
               required />
        <br />
        <label for="uname"><b>Số điện thoại</b></label>
        <br />
        <input type="text"
               placeholder="Nhập số điện thoại"
               name="Phone"
               required />
        <br />
        <label for="uname"><b>Email</b></label>
        <br />
        <input type="text"
               placeholder="Nhập Email"
               name="Email"
               required />
        <br />
        <label for="uname"><b>Ảnh</b></label>
        <br />
        <input type="text"
               placeholder="Chọn ảnh"
               name="Image"
               required />

        <label for="uname"><b>Tên trường</b></label>
        <br />
        <input type="text"
               placeholder="Enter Username"
               name="CompanyID"
               required />
        <br />
        <button type="submit" class="nut">Cập nhật thông tin</button>
    </div>
</form>
