
@{
    ViewBag.Title = "VC";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="http://localhost:57770/Content/bootstrap.min.css" rel="stylesheet" />
<link type="text/css"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700" />
<link href="~/Content/Home/index3.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<title>Document</title>

<body>
    <div class="container1">
        <div class="circle"></div>
        <h1>Thông tin của thực tập sinh</h1>
        <p class="thongtin">
            Họ và Tên : Trần Thành Nam <br />
            Giới Tính : Nam<br />
            Tuổi : 22<br />
            Địa Chỉ : An Khê, Quận Thanh Khê, TP Đà Nẵng<br />
            Phone : 0905865877 <br />
            Email : thnam98@gmail.com<br />
            School : Đại Học Duy Tân<br />
        </p>
        <h1 class="classh1">Xếp hạng các khóa học của thực tập sinh</h1>
        <div class="rank">
            <ul>
                <li>
                    <span class="number">1</span>
                    <span class="name">Khóa học lập trình C#</span>
                    <span class="points">100</span>
                    <span class="badge">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span class="number">2</span>
                    <span class="name">Khóa học lập trình JavaScript từ A-Z</span>
                    <span class="points">95</span>
                    <span class="badge">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span class="number">3</span>
                    <span class="name">Khóa học lập trình Master CSS</span>
                    <span class="points">85</span>
                    <span class="badge">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span class="number">4</span>
                    <span class="name">Khóa học lập trình Python</span>
                    <span class="points">80</span>
                    <span class="badge">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </span>
                </li>
                <li>
                    <span class="number">5</span>
                    <span class="name">Khóa học lập trình Java</span>
                    <span class="points">70</span>
                    <span class="badge">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </div>
        <button onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;"
                class="nut">
            Thay đổi mật khẩu
        </button>
        <button onclick="document.getElementById('id02').style.display='block'"
                style="width:auto;"
                class="nut1">
            Cập nhật thông tin
        </button>
    </div>

    <div id="id01" class="modal">
        <form class="modal-content animate" action="" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="close"
                      title="Close Modal">&times;</span>
                <img class="circle1" src="~/img/hinhavatar.jpg" />
            </div>

            <div class="container">
                <label for="psw"><b>Mật khẩu</b></label>
                <br />
                <input type="password"
                       placeholder="Enter Password"
                       name="psw"
                       required />
                <br />
                <label for="psw"><b>Mật khẩu mới</b></label>
                <br />
                <input type="password"
                       placeholder="Enter New Password"
                       name="psw"
                       required />
                <br />
                <label for="psw"><b> Nhập lại mật khẩu mới</b></label>
                <br />
                <input type="password"
                       placeholder="Enter New Password"
                       name="psw"
                       required />
                <br />
                <button type="submit" class="nut">Thay đổi mật khẩu</button>

            </div>
        </form>
    </div>

    <div id="id02" class="modal">

        <form class="modal-content animate" action="" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'"
                      class="close"
                      title="Close Modal">&times;</span>
                <img class="circle1" src="~/img/hinhavatar.jpg" alt="" />
            </div>
            <div class="container">
                <label for="uname"><b>Họ</b></label>
                <br />
                <input type="text"
                       placeholder="Nhập họ và tên lót"
                       name="LastName"
                       required />
                <br />
                <label for="uname"><b>Tên</b></label>
                <br />
                <input type="text"
                       placeholder="Nhập tên"
                       name="FirstName"
                       required />
                <br />
                <label for="uname"><b>Giới tính</b></label>
                <br />
                @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.GenGender, null, htmlAttributes: new { @class = "gender", style = "width:10% ; margin: 8px 0;padding: 12px 20px; height:40px" })
                <br />
                <label for="uname"><b>Ngày sinh</b></label>
                <br />
                <input type="text"
                       placeholder="Chọn ngày sinh"
                       name="Birthday"
                       class="datepicker"
                       required />
                <br />
                <label for="uname"><b>Địa chỉ</b></label>
                <br />
                <input type="text"
                       placeholder="Nhập địa chỉ"
                       name="Address"
                       required />
                <br />
                <label for="uname"><b>Số điện thoại</b></label>
                <br />
                <input type="text"
                       placeholder="Nhập số điện thoại"
                       name="Phone"
                       required />
                <br />
                <label for="uname"><b>Email</b></label>
                <br />
                <input type="text"
                       placeholder="Nhập Email"
                       name="Email"
                       required />
                <br />
                <label for="uname"><b>Ảnh</b></label>
                <br />
                <input type="text"
                       placeholder="Chọn ảnh"
                       name="Image"
                       id = "xFilePath"
                       class="imageCV"
                       required />
                <a id="SelectImage" onclick="BrowseServer()" href="#">Chọn ảnh</a>
                <br />
                <label for="uname"><b>Tên Công ty</b></label>
                @*<br />
        @Html.DropDownList("CompanyID", (IEnumerable<SelectListItem>)ViewBag.CompanyList, null, new { @class = "form-control" })
        <br />*@
                <label for="uname"><b>Tên trường</b></label>
                <br />
                <input type="text"
                       placeholder="Enter Username"
                       name="CompanyID"
                       required />
                <br />
                <button type="submit" class="nut">Cập nhật thông tin</button>
            </div>
        </form>
    </div>
</body>
<script src="https://kit.fontawesome.com/e00695e77f.js"
        crossorigin="anonymous"></script>
<script src="../Scripts/HomeControl/jquery-3.4.1.min.js"></script>
<script src="http://localhost:57770/Scripts/popper.min.js"></script>
<script src="http://localhost:57770/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="../Scripts/HomeControl/index.js"></script>

