body
{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
	background-size: cover;
}
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 910px;
    height: 945px;
	padding: 30px;
	background: #1a1a1a;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px white;
}
.circle
{
	display: flex;
	width: 100%;
	height: 248px;

}
.img{
	width: 50%;
    display: block;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
}
.circle img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 62%;
	height: 100%;
	background-size: cover;
    border-radius: 50%;
	shape-outside: circle();
	background-attachment: scroll;
	background-position: center;
   color: #c69c6d;
}
.name4{
	margin-left: 31px;
}
article{
	width: 50%;
	height: 100%;
	padding: 2em 2em 3em 0em;
}
.name	{
	display: flex;
}
p
{
	color: #c69c6d;
	font-size: 22px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	text-align: left;
	line-height: 22px;
}
h1
{
	color: #c69c6d;
	text-align: center;
	padding: 0;
	font-size: 28px;
}
.classh1
{
	padding: 35px 0 0 ;
}
.rank
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: #1a1a1a;
}
.rank ul 
{

	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
	box-shadow: inset 0 0 15px rgba(0,0,0,.2);
	border-radius: 5px;
	overflow: hidden;
}
.rank ul li
{
	display: flex;
	background: rgba(255,255,255,.1);
	padding: 10px 20px;
	color: #c69c6d;
	margin: 5px 0 ;
	transition: .5s;
}
.rank ul li:nth-child(1)
{
	background: rgba(255,255,255,.6);
}
.rank ul li:nth-child(2)
{
	background: rgba(255,255,255,.4);
}
.rank ul li:nth-child(3)
{
	background: rgba(255,255,255,.2);
}
.rank ul li span:nth-child(1)
{
	width: 30px;
}
.rank ul li span:nth-child(2)
{
	width: 70%;
}
.rank ul li span:nth-child(3)
{
	width: 100px;
	text-align: right;
}
.rank ul li span:nth-child(4)
{
	width: 70px;
	text-align: right;
}
.rank ul li:hover
{
	transform: scale(1.06);
	background: #1a1a1a;

}